<header class="header">
   <div class="header__left">
      <nav class="nav">
         <ul class="nav__list">
            <li class="nav__item">
               <a class="nav__link lang" href="index.html" key="home">Home</a>
            </li>

            <li class="nav__item">
               <a class="nav__link has--subnav lang" href="#" key="services">Services</a>

               <ul class="subnav">
                  <li class="nav__item">
                     <a class="subnav__link lang"  href="#" key="website">Create WebSite</a>
                  </li>
                  <li>
                     <a class="subnav__link lang" href="#" key="marketing">Internet Marketing</a>
                  </li>
                  <li class="nav__item">
                     <a class="subnav__link lang" href="#" key="promotion">Video promotion</a>
                  </li>
               </ul>
            </li>

            <li class="nav__item">
               <a class="nav__link lang" href="text.html" key="aboutme">About ME</a>
            </li>
            <li class="nav__item">
               <a class="nav__link lang" href="portfolio.html" key="myportfolio">My Portfolio</a>
            </li>
         </ul>
      </nav>

      <button class="burger" type="button" id="sidebarToggle">
         <span key="opennav">open nav</span>
      </button>
   </div>
   <div class="header__right">

      <nav class="nav">
         <div class="header__lang-en">
            <button class="translate" id="en">EN</button>
            <button class="translate" id="ua">UA</button>
         </div>
         <ul class="nav__list">
            <li class="nav__item">
               <a class="nav__link lang" href="profile.html" key="profile">Profile</a>
            </li>

         </ul>

      </nav>

      <form class="search" action="search.html" method="get">
         <input class="search__input lang" type="text" key="search" placeholder="Search for Site">
      </form>
   </div>



</header>
